<h5 class="mb-5 text-lg font-bold tracking-tight text-gray-900">Favorito Details</h5>
<form [formGroup]="Form" class="w-100" (ngSubmit)="onSubmit()" novalidate>
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre</label>
    <input type="text" id="nombre" class="form-control" placeholder="Nombre" formControlName="nombre">
    <div *ngIf="Form.get('nombre')?.hasError('required') && Form.get('nombre')?.touched" class="form-text text-danger">Es required</div>
  </div>
  <div class="mb-3">
    <label for="descripcion" class="form-label">Descripcion</label>
    <input type="descripcion" id="descripcion" class="form-control" placeholder="Descripcion" formControlName="descripcion">
    <div *ngIf="Form.get('descripcion')?.hasError('required') && Form.get('descripcion')?.touched" class="form-text text-danger">Es required</div>
  </div>
  <div class="mb-3">
    <label for="stock" class="form-label">Stock</label>
    <input type="text" id="stock" class="form-control" placeholder="Stock" formControlName="stock">
    <div *ngIf="Form.get('stock')?.hasError('required') && Form.get('stock')?.touched" class="form-text text-danger">Es required</div>
  </div>
  <div class="mb-3">
    <label for="precio" class="form-label">Precio</label>
    <input type="text" id="precio" class="form-control" placeholder="Precio" formControlName="precio">
    <div *ngIf="Form.get('precio')?.hasError('required') && Form.get('precio')?.touched" class="form-text text-danger">Es required</div>
  </div>
  <div class="mb-3">
    <label for="catalogo_id" class="form-label">Catalogo</label>
    <input type="text" id="catalogo_id" class="form-control" placeholder="Catalogo" formControlName="catalogo_id">
    <div *ngIf="Form.get('catalogo_id')?.hasError('required') && Form.get('catalogo_id')?.touched" class="form-text text-danger">Es required</div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <button type="button" (click)="onClose()" class="btn btn-secondary ms-2">Cancel</button>
</form>
