<h5 class="mb-5 text-lg font-bold tracking-tight text-gray-900">Favorito Details</h5>
<form [formGroup]="Form" class="w-100" (ngSubmit)="onSubmit()" novalidate>
  <div class="mb-3">
    <label for="user_id" class="form-label">Usuario</label>
    <select id="user_id" class="form-control" formControlName="user_id">
      <option *ngFor="let user of users" [value]="user.id">{{ user.id }}</option>
    </select>
    <div *ngIf="Form.get('user_id')?.hasError('required') && Form.get('user_id')?.touched" class="form-text text-danger">Es required</div>
  </div>
  <div class="mb-3">
    <label for="modelo_id" class="form-label">Modelo</label>
    <select id="modelo_id" class="form-control" formControlName="modelo_id">
      <option *ngFor="let modelo of modelos" [value]="modelo.id">{{ modelo.id }}</option>
    </select>
    <div *ngIf="Form.get('modelo_id')?.hasError('required') && Form.get('modelo_id')?.touched" class="form-text text-danger">Es required</div>
  </div>
  <div class="mb-3">
    <label for="fecha" class="form-label">Fecha</label>
    <input type="text" id="fecha" class="form-control" placeholder="Fecha" formControlName="fecha">
    <div *ngIf="Form.get('fecha')?.hasError('required') && Form.get('fecha')?.touched" class="form-text text-danger">Es required</div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <button type="button" (click)="onClose()" class="btn btn-secondary ms-2">Cancel</button>
</form>
