    <div class="container mt-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              Iniciar sesión
            </div>
            <div class="card-body">
              <form>
                <div class="mb-3">
                  <label for="email" class="form-label">Correo electrónico</label>
                  <input type="email" class="form-control" [(ngModel)]="loginObj.email" name="email" required>
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Contraseña</label>
                  <input type="password" class="form-control" [(ngModel)]="loginObj.password" name="password" required>
                </div>
                <div *ngIf="Error" class="text-danger" style="margin-bottom: 20px; font-weight: bold;">{{ Error }}</div>
                <div class="d-grid gap-2">
                  <button type="submit" class="btn btn-primary" (click)="onLogin()">Iniciar sesión</button>
                  <a routerLink="/register" class="btn btn-link">Crear cuenta</a>
                  <a routerLink="/layout/home" class="btn btn-link">Entrar como invitado</a>
                </div>
              </form>
            </div> 
          </div>
        </div>
      </div>
    </div>