<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/layout/home">Tienda Bicicletas</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Tablas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" routerLink="/layout/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/layout/catalogos">Catalogos</a>
            </li>
            <div *ngIf="roleId != 2">
            <li class="nav-item">
              <a class="nav-link" routerLink="/layout/compras">Compras</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/layout/detallecompras">Detalle Compras</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/layout/detallepedidos">Detalle Pedidos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/layout/favoritos">Favoritos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/layout/items">Items</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/layout/metodopagos">Metodo Pagos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/layout/modelos">Modelos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/layout/pedidos">Pedidos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/layout/resenas">Reseñas</a>
            </li>
            <li *ngIf="roleId == 1" class="nav-item">
              <a class="nav-link" routerLink="/layout/users">Usuarios</a>
            </li>
          </div>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">Cerrar Sesion</a>
              
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>