<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h4 class="font-weight-bold text-2xl"></h4>
      <button *ngIf="roleId != 3" type="button" (click)="openModel()"
        class="btn btn-primary font-weight-medium rounded-pill px-4 py-2">Add Detalle Compra</button>
    </div>
    <div class="table-responsive shadow-sm rounded-lg">
      <h1 class="p-3 h4 font-weight-bold text-left text-white bg-primary">
        Detalle Compra
      </h1>
      <table class="table table-sm table-bordered text-left">
        <thead class="thead-light">
          <tr>
            <th scope="col">Compra</th>
            <th scope="col">Modelo</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of detalleCompras; let i = index" class="bg-white border-bottom">
            <td class="font-weight-medium">{{ item.compra.id}}</td>
            <td>{{ item.modelo.nombre }}</td>
            <td>{{ item.cantidad }}</td>
            <td>{{ item.precio }}</td>
            <td *ngIf="roleId != 3" class="text-right">
              <button type="button" (click)="loadUser(item)"
                class="btn btn-outline-primary btn-sm mr-2">Edit</button>
              <button type="button" (click)="deleteUser(item.id!)"
                class="btn btn-outline-danger btn-sm">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <app-model [isOpen]="isModelOpen" (closeModel)="closeModel()">
    <app-detallecompra-form (onCloseModel)="closeModel()" [data]="detalleCompra"></app-detallecompra-form>
  </app-model>
  